name: publish
on:
  release:
    types:
      - published

jobs:
  build:
    strategy:
      matrix:
        java: [ 25 ]
        os: [ ubuntu-24.04 ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'microsoft'
      - name: make gradle wrapper executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew
      - name: build
        run: |
          ./gradlew build
      - name: publish
        if: ${{ runner.os == 'Linux' }}
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: 2OckSy74
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          dependencies: |
            fabric-api

          version-type: release